<div class="row">
    <div class="col-md-8"><h3>Doctors</h3>
    </div>
    <div class="col-md-2"><button (click)="onAddDoctors()" class="btn btn-primary">Add Doctor</button>
    </div>

</div>
<div class="row">
    <div class="col-md-2" *ngFor="let doctor of doctorsList">
        <div class="productblock" >
            <div> {{doctor.name}}
            </div>

            <div>
                <b>Specialization:</b>{{doctor.specialization  | slice:0:10}}
            </div>
            <div>
                <button (click)= "onDelDoctors(doctor.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <button (click)= "onEditDoctors(doctor.id)" class="btn btn-primary btn-sm edit_icon"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>

            </div>
        </div>
    </div>
</div>
